//
   Created by matthias on 1/15/15.

extends ../layout
block content
   h1 Admin
   h3 Client Management
   p admin area to manage all clients & edit their information including administrative roles.