//
   Created by matthias on 1/15/15.

extends ../layout
block content
   h1 Admin
   h3 Configuration
   p admin area to manage which tools and services are switched live for clients & configure basic settings of the platform ..
   p this will needs a settings mongodb shema and a isLive middleware module to test before rendering elements & processin routes (if user isn't admin or developer).