//
   Created by matthias on 1/8/15.
extends layout

block content
  if session.isLoggedIn
    div(style='min-height: 250px;')
      .error.alert.alert-danger Error, seems you don't have the permission to do that ..