//
   Created by matthias on 1/8/15.

extends layout

block content
   .row
      .col-xs-12.col-sm-12
         h2 Rules
         p Set up conditions to use with your deployed tools.
         p Example:
