//
   Created by matthias on 1/8/15.

extends layout

block content
   .row
      .col-xs-12.col-sm-12.col-md-5
         h2 Development


   .row
      .col-xs-12.col-sm-12.col-md-5
         h2 Strategy
