//
   Created by matthias on 1/8/15.

extends layout

block content
   .row
      .col-xs-12.col-sm-12.col-md-5
         h2 Development
         h4(style="color:#6f5499") Fullstack Applications
         span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
         span Node.js based dynamic single page web applications. High concurrency, etc..
         h4(style="color:#6f5499") Drupal CMS & CRM developments
         span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
         span For your robust and battle proven web presence.
         h4(style="color:#6f5499") Managed Web Hosting
         .row
            span.glyphicon.glyphicon-chevron-right.col-xs-1(style="align:right",aria-hidden="true")
            span.col-xs-11 Hosting and cloud server solutions tailored to your needs.
      .col-xs-12.col-sm-12.col-md-7
         .row
            div(style='width:260px;').col-xs-12.col-sm-6
               .thumbnail
                  img(data-src="holder.js/250x200")
                  .caption
                     h4 Lipsum
                     p . &nbsp;
            div(style='width:260px;').col-xs-12.col-sm-6
               .thumbnail
                  img(data-src="holder.js/250x200")
                  .caption
                     h4 Lipsum
                     p . &nbsp;

   .row
      .col-xs-12.col-sm-12.col-md-5
         h2 Strategy
         p We are a full service relationship marketing and fundraising consultancy, specialized on:
         ul
            li Strategic Communication.
            li Fundraising Campaign Services.
            li Social Media Marketing.
            li Proactive Optimization.
            li Analytics & Data Collection.
      .col-xs-12.col-sm-12.col-md-5
         span some image?