//
   Created by matthias on 1/8/15.

extends layout

block content
   .row
      div(style='width:310px;').col-sm-6.col-md-4
         .thumbnail
            img(data-src="holder.js/300x200")
            .caption
               h3 Marketing Overlay
               p A simple way to embed a overlay lightbox on your website, encouraging your visitors to take a desired action. &nbsp;
               p
                  a.btn.btn-primary(href="script/create", role="button", style='margin-right:15px;') Get started
                  //a.btn.btn-default(href="#", role="button") Button