
extends ../layout

block content
   script.
      var preview = angular.module("preview", []);
      preview.controller("previewController", function ($scope) {
         $scope.testing = 'test';
      });
   .row
      p=page
   div.row hello
      div(ng-app = "preview", ng-controller = "previewController")
         input(name = "script_button_text", class= 'form-control', ng-model = 'script_button_text', ng-init = "script_button_text = testing")
         a(href = '#', class= 'btn btn-block btn-danger') {{script_button_text}}

