//
   Created by matthias on 1/8/15.
extends ../layout

block content
   if session.isLoggedIn
      a.btn.btn-primary(href="/script/create") Create

      if !(scripts && scripts.length)
         p No modal scripts yet created.
      else
         h3 Available Modals
         .table.table-hover
            each script in scripts
               .row(style='margin-bottom:15px;')
                  .col-xs-12.col-sm-6.col-md-5
                     p= script.title
                  .col-xs-12.col-sm-6.col-md-7
                      p.btn.btn-default(style='margin-right:15px;') Called: #{script.stats}
                      a(href="/script/edit/#{script.id}", class='btn btn-warning', style='margin-right:5px;')
                        span.glyphicon.glyphicon-pencil(aria-hidden="true")
                        span &nbsp; View & Edit
                      a(href="/script/remove/#{script.id}", class='btn btn-danger')
                        span.glyphicon.glyphicon-trash(aria-hidden="true")
                        span &nbsp; Delete
   else
      p please login